# Configuración de Twilio (WhatsApp)
TWILIO_ACCOUNT_SID=SID_DE_TWILIO
TWILIO_AUTH_TOKEN=TWILIO_TOKEN
TWILIO_WHATSAPP_NUMBER=whatsapp:+1234512345 #Agregar el numero que da el whatsapp sandbox en twilio por ahora o configurar numero propio

AWS_DEFAULT_REGION=us-east-1
BEDROCK_MODEL_ID=global.anthropic.claude-sonnet-4-5-20250929-v1:0

MESSAGES_TABLE=dynamo_db_table
MAGENTRACK_USER=magentrack_user
MAGENTRACK_PASSWORD=magentrack_password